.spinner {
    border: 16px solid lightgray;
    border-radius: 50%;
    border-top: 16px solid black;
    width: 64px;
    height: 64px;
    animation: spin 1s linear infinite; /* Required */
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

.country-card {
    padding: 5%;
    background-color: cadetblue;
    border-radius: 8px;
}

.border-grid {
    display: grid; 
    background-color: aquamarine;
    grid-template-columns: max-content + 32px;
    padding: 5%;
    border-radius: 8px;
    .list-item {   
        display: grid;
        padding: 1rem;
        color: black;
        grid-template-columns: auto auto;
        outline: 1px solid black;
    }
}

.error {
    color: white;
    background-color: brown;
}

.hidden {
    display: none;
}